body {
    font-family: roboto, arial, sans-serif;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}

.logo-text {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
    padding: 0 40px;
}

ul {
    display: flex;
    list-style: none;
    padding: 0 40px;
    margin: 0;
}

li {
    padding: 16px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.hero-main {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    gap: 40px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.hero-left .main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-left .text {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    width: fit-content;
    font-size: 18px;
    padding: 8px 24px;
    border: 0;
    border-radius: 8px;
}

.hero-right img {
    height: auto;
    width: 600px;
}

.random-info {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 40px;
}

.random-info .title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card img {
    height: auto;
    width: 250px;
    border-radius: 8px;
    border: 4px solid #3882f6;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 250px;
}

.card p {
    text-align: center;
    margin: 8px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 120px 80px;
    color: #1f2937;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.quote p {
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding: 0 40px;
}

.call-to-action {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 40px;
    margin: 80px;
    border-radius: 10px;
    font-size: 18px;
}

.left {
    display: flex;
    flex-direction: column;
}

.call-to-action button {
    border: 2px solid #e5e7eb;
}

.call-to-action .title {
    font-size: 24px;
    font-weight: 700;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    padding: 40px;
}